@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$background-color: #BBE4E9;
$operator-color: #79C2D0;
$number-color: #5585B5;
$action-color: #53A8B6;
$font-color-light-bg: #000000;
$disabled-color-light-bg: #d3d3d3;
$font-color-dark-bg: #ffffff;
$disabled-color-dark-bg: #d3d3d3;

.main-app{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    margin: 0 auto;
    //box-shadow: 0 0 50px #d3d3d3;
    border-radius: 1em;
    border: 2px solid black;
    background: $background-color;
    max-width: 270px;
}

.calculation-area{
    background: white;
    border-radius: 20px;
    text-align: right;
    width: 100%;
    padding: 3px;
    border: 2px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    transition: font-size ease-in-out 10s;

    &__input{
        padding: 0;
        overflow-x: auto;
    }

    &__output{
        padding: 0;
        overflow-x: auto;
    }
}

.calculated{
    &__true{
        &--input{
            color: $disabled-color-light-bg;
            font-size: 2em;
        }
        &--output{
            color: $font-color-light-bg;
            font-size: 4em;
        }
    }
    &__false{
        &--input{
            color: $font-color-light-bg-light-bg;
            font-size: 4em;
        }
        &--output{
            color: $disabled-color-light-bg;
            font-size: 2em;
        }
    }
}

.btn{
    font-family: "Indie Flower", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 4em;
    cursor: pointer;

    &__area{
        display: flex;
        flex-flow: column nowrap;
        gap: .5em;
        &--row{
            display: flex;
            flex-flow: row nowrap;
            gap: .5em;
        }
    }

    &__action{
        background: $action-color;
        color: #ffffff;

        &:hover{
            background: #3d7d87
        }
    }

    &__number{
        background: $number-color;
        color: #ffffff;

        &:hover{
            background: #416c96
        }
    }

    &__operator{
        background: $operator-color;

        &:hover{
            background: #99c2c7;
        }
    }
}