@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$background-color: #BBE4E9;
$operator-color: #79C2D0;
$number-color: #5585B5;
$action-color: #53A8B6;
$font-color-light-bg: #000000;
$disabled-color-light-bg: #d3d3d3;
$font-color-dark-bg: #ffffff;
$disabled-color-dark-bg: #d3d3d3;

$border-thickness: 2px;

@mixin field-unfocused {
    color: $disabled-color-light-bg;
    font-size: 1em;
}

@mixin field-focused {
    color: $font-color-light-bg;
    font-size: 2em;
}

@mixin field-design {
    padding: 5px;
    overflow-x: auto;
    transition: font-size 0.1s ease-in-out;
    border: none;
    white-space: nowrap;
}

.main-app{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    margin: 0 auto;
    //box-shadow: 0 0 50px #d3d3d3;
    border-radius: 1em;
    border: 2px solid black;
    background: $background-color;

    //::-webkit-scrollbar {
    //    width: 0;
    //    height: 0;
    //    background: transparent; /* make scrollbar transparent */
    //}
}

.calculation-area{
    background: white;
    border-radius: 20px;
    text-align: right;
    width: 100%;
    border: $border-thickness solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-items: flex-end;

    &__input{
        @include field-design;
    }

    &__output{
        @include field-design;
    }
}

.calculated{
    &__true{
        &--input{
            @include field-unfocused
        }
        &--output{
            @include field-focused
        }
    }
    &__false{
        &--input{
            @include field-focused
        }
        &--output{
            @include field-unfocused
        }
    }
}

.btn{
    font-family: "Indie Flower", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1em;
    aspect-ratio: 1/1;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: $border-thickness solid black;
    cursor: pointer;


    &__area{
        display: flex;
        flex-flow: column nowrap;
        gap: .5em;
        max-width: 90vw;
        overflow: auto;
        &--row{
            display: flex;
            flex-flow: row nowrap;
            gap: .5em;
        }
    }

    &__action{
        background: $action-color;
        color: #ffffff;

        &:hover{
            background: #3d7d87
        }
    }

    &__number{
        background: $number-color;
        color: #ffffff;

        &:hover{
            background: #416c96
        }
    }

    &__empty{
        background: #ffffff00;
        color: #ffffff00;
        border: none;
        cursor: default;
        visibility: hidden;
    }

    &__operator{
        background: $operator-color;

        &:hover{
            background: #99c2c7;
        }
    }
}