@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html{
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    font-family: "Indie Flower", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1, h3, p{
    text-align: center;
}

a{
    color: #5585B5;
}

.root{
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: center;
    min-width: 30%;
    max-width: 30%;
    height: 100vh;
}